<!DOCTYPE html>
<html>
  <head>
    <title>Come fly with me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
   <a href="/flights/new">New Flight</a>
   <a href="/flights">All Flights</a>
</nav>
<body>
    


